@model House.ViewModels.CreateInvoiceViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Maak nieuwe factuur</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Search" method="get">
            <div class="form-group">
                <p>
                    <label asp-for="Invoice.CustomerID" class="control-label">Zoek Reservaties voor Persoon</label>
                    <select asp-for="Invoice.CustomerID" class="form-control" asp-items="Model.Customers">
                        <option>Please select</option>
                    </select>
                    <br />
                    <input type="submit" value="Zoeken" class="btn btn-primary" />
                </p>
            </div>
        </form>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="SelectedCustomer" />
            <input type="hidden" asp-for="Invoice.CustomerID" />

            <div class="form-group">
                <select asp-for="SelectedReservations" class="form-control" asp-items="Model.ReservationList"></select>
                <span asp-validation-for="SelectedReservations" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
