@model House.ViewModels.CreateReservationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nieuwe Reservatie</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedLocation" class="control-label">Locatie</label>
                <select asp-for="SelectedLocation" class="form-control" asp-items="Model.LocationList">
                    <option value="">Please select</option>
                </select>
                <span asp-validation-for="SelectedLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedRoom" class="control-label"></label>
                <select asp-for="SelectedRoom" class="form-control" asp-items="Model.RoomList"></select>
                <span asp-validation-for="SelectedRoom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedDate" class="control-label"></label>
                <input type="date" asp-for="SelectedDate" class="form-control" />
                <span asp-validation-for="SelectedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedPeriod" class="control-label"></label>
                <select asp-for="SelectedPeriod" class="form-control" asp-items="Model.PeriodList"></select>
                <span asp-validation-for="SelectedPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Own">Back to List</a>
</div>

<!-- JS includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    //bron cascading dropdownlist: https://dotnetfiddle.net/1bPZym

    var roomUrl = '@Url.Action("FetchRooms")';
    var periodUrl = '@Url.Action("FetchPeriods")'
    var rooms = $('#SelectedRoom');
    var date = $('#SelectedDate');
    var periods = $('#SelectedPeriod');
    var price = $('#Price')
    $('#SelectedLocation').change(function () {
        rooms.empty();
        periods.empty();
        $.getJSON(roomUrl, { ID: $(this).val() }, function(data) {
            if (!data) {
                return;
            }
            rooms.append($('<option></option>').val('').text('Please select'));
            $.each(data, function (index, item) {
                rooms.append('<option value="' + item.value + '">' + item.text + '</option>');
            });
        })
    })
    $('#SelectedRoom').change(function () {
        periods.empty();
        $.getJSON(periodUrl, { ID: $(this).val(), Date: $(SelectedDate).val() }, function (data) {
            if (!data) {
                return;
            }
            periods.append($('<option></option>').val('').text('Please select'));
            $.each(data, function (create, item) {
                periods.append('<option value="' + item.value + '">' + item.text + '</option>');
            });
        });
    })
    $('#SelectedDate').change(function () {
        periods.empty();
        $.getJSON(periodUrl, { Date: $(this).val(), ID: $(SelectedRoom).val() }, function (data) {
            if (!data) {
                return;
            }
            periods.append($('<option></option>').val('').text('Please select'));
            $.each(data, function (create, item) {
                periods.append('<option value="' + item.value + '">' + item.text + '</option>');
            });
        });
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
