@{
    ViewData["Title"] = "Failed Delete";
}

<h1>Error</h1>

<p>
    Het is onmogelijk om deze reservatie te verwijderen, indien u toch meent dat deze hier ten onrechte staat, gelieve contact op te nemen met ons. 
</p>

<div>
    <a asp-action="Own">Back to List</a>
</div>